.navi {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid;
  z-index: 99;
}
.navi::after {
  display: block;
  visibility: hidden;
  clear: both;
  content: "";
}
