.movies {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  padding: 50px 0;
  width: 100%;
}

.movies_movie {
  position: relative;
  padding: 20px;
  width: 45%;
  background-color: #fff;
  margin-bottom: 75px;
  -webkit-box-shadow: -1px 8px 27px -2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 8px 27px -2px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 8px 27px -2px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.movies_movie img {
  position: relative;
  top: -40px;
  max-width: 120px;
  -webkit-box-shadow: -1px 8px 27px 4px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: -1px 8px 27px 4px rgba(0, 0, 0, 0.45);
  box-shadow: -1px 8px 27px 4px rgba(0, 0, 0, 0.45);
}

.movie_data {
  position: relative;
  padding: 0 0 0 20px;
}

.movie_data .movie_summary {
  word-break: break-all;
}

.movie_data h3,
.movie_data h4,
.movie_data h5 {
  margin: 0;
  padding: 5px 0;
}

.movie_title {
  font-size: 16px;
}
.movie_year,
.movie_gener {
  margin: 0;
  padding: 0;
}
.movie_gener li {
  list-style: none;
  display: inline-block;
  margin: 0 15px 0 0;
  padding: 0;
}
